In [53]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [130]:
mongo_data = { "_id" : "06d916bb27994a3e9ce2dceae5994a72", "name" : "telco_final.csv", "data" : [ [ { "is_male" : 0, "is_senior_citizen" : 0, "has_partner" : 1, "has_dependents" : 0, "tenure" : 1, "has_phone_service" : 0, "has_paperless_billing" : 1, "monthly_charges" : 29.85, "total_charges" : 29.85, "churn" : "No", "has_multiple_lines_No" : 0, "has_multiple_lines_No phone service" : 1, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 1, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 0, "has_online_backup_No" : 0, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 1, "has_device_protection_No" : 1, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 0, "has_tech_support_No" : 1, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 0, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 1, "contract_One year" : 0, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 0, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 1, "payment_method_Mailed check" : 0 }, { "is_male" : 1, "is_senior_citizen" : 0, "has_partner" : 0, "has_dependents" : 0, "tenure" : 34, "has_phone_service" : 1, "has_paperless_billing" : 0, "monthly_charges" : 56.95, "total_charges" : 1889.5, "churn" : "No", "has_multiple_lines_No" : 1, "has_multiple_lines_No phone service" : 0, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 0, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 1, "has_online_backup_No" : 1, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 0, "has_device_protection_No" : 0, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 1, "has_tech_support_No" : 1, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 0, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 0, "contract_One year" : 1, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 0, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 0, "payment_method_Mailed check" : 1 }, { "is_male" : 1, "is_senior_citizen" : 0, "has_partner" : 0, "has_dependents" : 0, "tenure" : 2, "has_phone_service" : 1, "has_paperless_billing" : 1, "monthly_charges" : 53.85, "total_charges" : 108.15, "churn" : "Yes", "has_multiple_lines_No" : 1, "has_multiple_lines_No phone service" : 0, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 0, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 1, "has_online_backup_No" : 0, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 1, "has_device_protection_No" : 1, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 0, "has_tech_support_No" : 1, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 0, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 1, "contract_One year" : 0, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 0, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 0, "payment_method_Mailed check" : 1 }, { "is_male" : 1, "is_senior_citizen" : 0, "has_partner" : 0, "has_dependents" : 0, "tenure" : 45, "has_phone_service" : 0, "has_paperless_billing" : 0, "monthly_charges" : 42.3, "total_charges" : 1840.75, "churn" : "No", "has_multiple_lines_No" : 0, "has_multiple_lines_No phone service" : 1, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 0, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 1, "has_online_backup_No" : 1, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 0, "has_device_protection_No" : 0, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 1, "has_tech_support_No" : 0, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 1, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 0, "contract_One year" : 1, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 1, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 0, "payment_method_Mailed check" : 0 }]]}, { "_id" : "84ac66ae34d2442389ba3d95dd95d434", "name" : "telco_final.csv", "data" : [ [ { "is_male" : 0, "is_senior_citizen" : 0, "has_partner" : 1, "has_dependents" : 0, "tenure" : 1, "has_phone_service" : 0, "has_paperless_billing" : 1, "monthly_charges" : 29.85, "total_charges" : 29.85, "churn" : "No", "has_multiple_lines_No" : 0, "has_multiple_lines_No phone service" : 1, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 1, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 0, "has_online_backup_No" : 0, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 1, "has_device_protection_No" : 1, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 0, "has_tech_support_No" : 1, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 0, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 1, "contract_One year" : 0, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 0, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 1, "payment_method_Mailed check" : 0 }, { "is_male" : 1, "is_senior_citizen" : 0, "has_partner" : 0, "has_dependents" : 0, "tenure" : 34, "has_phone_service" : 1, "has_paperless_billing" : 0, "monthly_charges" : 56.95, "total_charges" : 1889.5, "churn" : "No", "has_multiple_lines_No" : 1, "has_multiple_lines_No phone service" : 0, "has_multiple_lines_Yes" : 0, "has_internet_service_DSL" : 1, "has_internet_service_Fiber optic" : 0, "has_internet_service_No" : 0, "has_online_security_No" : 0, "has_online_security_No internet service" : 0, "has_online_security_Yes" : 1, "has_online_backup_No" : 1, "has_online_backup_No internet service" : 0, "has_online_backup_Yes" : 0, "has_device_protection_No" : 0, "has_device_protection_No internet service" : 0, "has_device_protection_Yes" : 1, "has_tech_support_No" : 1, "has_tech_support_No internet service" : 0, "has_tech_support_Yes" : 0, "has_streaming_TV_No" : 1, "has_streaming_TV_No internet service" : 0, "has_streaming_TV_Yes" : 0, "has_streaming_movies_No" : 1, "has_streaming_movies_No internet service" : 0, "has_streaming_movies_Yes" : 0, "contract_Month-to-month" : 0, "contract_One year" : 1, "contract_Two year" : 0, "payment_method_Bank transfer (automatic)" : 0, "payment_method_Credit card (automatic)" : 0, "payment_method_Electronic check" : 0, "payment_method_Mailed check" : 1 }]]}

In [169]:
df = pd.DataFrame.from_records(mongo_data)

In [170]:
df

,_id,data,name
0,06d916bb27994a3e9ce2dceae5994a72,"[[{'is_male': 0, 'is_senior_citizen': 0, 'has_...",telco_final.csv
1,84ac66ae34d2442389ba3d95dd95d434,"[[{'is_male': 0, 'is_senior_citizen': 0, 'has_...",telco_final.csv

In [171]:
df2 = pd.DataFrame(columns=df.columns)
df2_index = 0

In [172]:
for row in df.iterrows():
    one_row = row[1]
    for list_value in row[1]["data"]:
        one_row["data"] = list_value
        df2.loc[df2_index] = one_row
        df2_index += 1

In [173]:
for row in df2.iterrows():
    one_row = row[1]
    for list_value in row[1]["data"]:
        one_row["data"] = list_value

In [174]:
df

,_id,data,name
0,06d916bb27994a3e9ce2dceae5994a72,"[{'is_male': 0, 'is_senior_citizen': 0, 'has_p...",telco_final.csv
1,84ac66ae34d2442389ba3d95dd95d434,"[{'is_male': 0, 'is_senior_citizen': 0, 'has_p...",telco_final.csv

In [175]:
df2

,_id,data,name
0,06d916bb27994a3e9ce2dceae5994a72,"{'is_male': 1, 'is_senior_citizen': 0, 'has_pa...",telco_final.csv
1,84ac66ae34d2442389ba3d95dd95d434,"{'is_male': 1, 'is_senior_citizen': 0, 'has_pa...",telco_final.csv

In [176]:
df3 = json_normalize(df2['data'])

In [177]:
df2 = df2.drop('data', axis=1)

In [178]:
df4 = pd.concat([df2, df3], ignore_index=False, sort=False, axis=1)

In [179]:
df4

,_id,name,churn,contract_Month-to-month,contract_One year,contract_Two year,has_dependents,has_device_protection_No,has_device_protection_No internet service,has_device_protection_Yes,...,has_tech_support_Yes,is_male,is_senior_citizen,monthly_charges,payment_method_Bank transfer (automatic),payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check,tenure,total_charges
0,06d916bb27994a3e9ce2dceae5994a72,telco_final.csv,No,0,1,0,0,0,0,1,...,1,1,0,42.30,1,0,0,0,45,1840.75
1,84ac66ae34d2442389ba3d95dd95d434,telco_final.csv,No,0,1,0,0,0,0,1,...,0,1,0,56.95,0,0,0,1,34,1889.50